# Mini Project 1
## Compute the number of schools and, using pandas, min, max, standard deviation and mean of the amount of grants that the Philadelphia School District received in 2010-11

A data frame is a container that can hold data of different types.  It is a two dimensional data structure with data organized in a tabular fashion.

A panda series is a list; a single element of data created from manipulating a data frame which allows you to use panda methods on those results.  The user can tell a series from a Data Frame because when the results are displayed the last line is not data - it is information about the data. It is also only a one dimensional array.

This exercise will use pandas to import data into a data frame.  Then the data will be modified so it can be manipulated.  The results for the Philadelphia school district will be isolated and summarized.

Step 1:  Import the school funding data as a dataframe using panda then look at the first 6 rows of the data using the head function.

In [1]:
import pandas as pd
school_data = pd.read_csv('userssharedsdfschoolimprovement2010grants.csv')
school_data.head()

,School Name,City,State,District Name,2010/11/Award Amount,Model Selected,Location
0,HOGARTH KINGEEKUK MEMORIAL SCHOOL,SAVOONGA,AK,BERING STRAIT SCHOOL DISTRICT,$471014.00,Transformation,"200 MAIN ST\nSAVOONGA, AK 99769\n(63.6687, -17..."
1,AKIACHAK SCHOOL,AKIACHAK,AK,YUPIIT SCHOOL DISTRICT,$520579.00,Transformation,"AKIACHAK 51100\nAKIACHAK, AK 99551\n(60.8911, ..."
2,GAMBELL SCHOOL,GAMBELL,AK,BERING STRAIT SCHOOL DISTRICT,$449592.00,Transformation,"169 MAIN ST\nGAMBELL, AK 99742\n(63.7413, -171..."
3,BURCHELL HIGH SCHOOL,WASILLA,AK,MATANUSKA-SUSITNA BOROUGH SCHOOL DISTRICT,$641184.00,Transformation,"1775 WEST PARKS HWY\nWASILLA, AK 99654\n(61.57..."
4,AKIAK SCHOOL,AKIAK,AK,YUPIIT SCHOOL DISTRICT,$399686.00,Transformation,"AKIAK 5227\nAKIAK, AK 99552\n(60.8879, -161.2)"

Step 2:  Look at the types of data in the data frame.

In [2]:
school_data.dtypes

School Name             object
City                    object
State                   object
District Name           object
2010/11/Award Amount    object
Model Selected          object
Location                object
dtype: object

Step 3:  Rename the columns to eliminate spaces.

In [3]:
school_data.columns =school_data.columns.str.replace(' ', '_')
school_data.columns

Index(['School_Name', 'City', 'State', 'District_Name', '2010/11/Award_Amount',
       'Model_Selected', 'Location'],
      dtype='object')

Step 4:  Change the name of the Amount field.

In [5]:
school_data.rename(columns = {'2010/11/Award_Amount':'Amount'}, inplace=True)
school_data.columns

Index(['School_Name', 'City', 'State', 'District_Name', 'Amount',
       'Model_Selected', 'Location'],
      dtype='object')

Step 5:  Remove the $ in the rows in the Amount field so that it can be converted to a number.

In [6]:
school_data['Amount'] = school_data['Amount'].str.replace('$','')
school_data.head()

,School_Name,City,State,District_Name,Amount,Model_Selected,Location
0,HOGARTH KINGEEKUK MEMORIAL SCHOOL,SAVOONGA,AK,BERING STRAIT SCHOOL DISTRICT,471014.00,Transformation,"200 MAIN ST\nSAVOONGA, AK 99769\n(63.6687, -17..."
1,AKIACHAK SCHOOL,AKIACHAK,AK,YUPIIT SCHOOL DISTRICT,520579.00,Transformation,"AKIACHAK 51100\nAKIACHAK, AK 99551\n(60.8911, ..."
2,GAMBELL SCHOOL,GAMBELL,AK,BERING STRAIT SCHOOL DISTRICT,449592.00,Transformation,"169 MAIN ST\nGAMBELL, AK 99742\n(63.7413, -171..."
3,BURCHELL HIGH SCHOOL,WASILLA,AK,MATANUSKA-SUSITNA BOROUGH SCHOOL DISTRICT,641184.00,Transformation,"1775 WEST PARKS HWY\nWASILLA, AK 99654\n(61.57..."
4,AKIAK SCHOOL,AKIAK,AK,YUPIIT SCHOOL DISTRICT,399686.00,Transformation,"AKIAK 5227\nAKIAK, AK 99552\n(60.8879, -161.2)"

Step 6:  Change the Amount field to a number field.

In [7]:
school_data['Amount'] = school_data.Amount.astype(float)
school_data.dtypes

School_Name        object
City               object
State              object
District_Name      object
Amount            float64
Model_Selected     object
Location           object
dtype: object

Step 7: Filter on just the records for the Philadelphia City SD

In [8]:
philly = school_data["District_Name"].str.contains("PHILADELPHIA CITY SD")
school_data[philly]

,School_Name,City,State,District_Name,Amount,Model_Selected,Location
603,SAYRE WILLIAM L MS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,737032.0,Transformation,"5800 WALNUT ST\nPHILADELPHIA, PA 19139\n(39.95..."
605,KING MARTIN LUTHER HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,786964.0,Transformation,"6100 STENTON AVE\nPHILADELPHIA, PA 19138\n(40...."
606,DOUGLAS STEPHEN A SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,319320.0,Restart,"2700 EAST HUNTINGDON ST\nPHILADELPHIA, PA 1912..."
609,LOCKE ALAIN SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,390938.0,Transformation,"4550 HAVERFORD AVE\nPHILADELPHIA, PA 19139\n(3..."
610,ALCORN JAMES SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,338726.0,Transformation,"3200 DICKINSON ST\nPHILADELPHIA, PA 19146\n(39..."
613,GERMANTOWN HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,798792.0,Transformation,"40 EAST HIGH ST\nPHILADELPHIA, PA 19144\n(40.0..."
616,ROXBOROUGH HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,641440.0,Transformation,"6498 RIDGE AVE\nPHILADELPHIA, PA 19128\n(40.03..."
620,UNIVERSITY CITY HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,923999.0,Turnaround,"3601 FILBEROUTE ST\nPHILADELPHIA, PA 19104\n(3..."
621,SMEDLEY FRANKLIN SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,362773.0,Restart,"1790 BRIDGE ST\nPHILADELPHIA, PA 19124\n(40.01..."
624,WEST PHILADELPHIA HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,671142.0,Transformation,"4700 WALNUT ST\nPHILADELPHIA, PA 19139\n(39.95..."
625,HARRITY WILLIAM F SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,980283.0,Restart,"5601 CHRISTIAN ST\nPHILADELPHIA, PA 19143\n(39..."
628,FRANKFORD HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,792001.0,Transformation,"5000 OXFORD AVE\nPHILADELPHIA, PA 19124\n(40.0..."
631,VAUX ROBERTS HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,466665.0,Turnaround,"2300 WEST MASTER ST\nPHILADELPHIA, PA 19121\n(..."
633,CLEMENTE ROBERTO MS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,333327.0,Turnaround,"122 WEST ERIE AVE\nPHILADELPHIA, PA 19140\n(40..."
634,FELS SAMUEL HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,974132.0,Transformation,"901 DEVEREAUX AVE\nPHILADELPHIA, PA 19111\n(40..."
636,ALLEN DR ETHEL SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,247020.0,Turnaround,"3200 WEST LEHIGH AVE\nPHILADELPHIA, PA 19132\n..."
637,FELTONVILLE INTERMEDIATE SCHOOL,PHILADELPHIA,PA,PHILADELPHIA CITY SD,244855.0,Transformation,"4901 RISING SUN AVE\nPHILADELPHIA, PA 19120\n(..."
640,SOUTH PHILADELPHIA HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,579958.0,Transformation,"2101 SOUTH BRD ST\nPHILADELPHIA, PA 19148\n(39..."
641,OLNEY HS WEST,PHILADELPHIA,PA,PHILADELPHIA CITY SD,272245.0,Transformation,"100 WEST DUNCANNON AVE\nPHILADELPHIA, PA 19120..."
643,EDISON HS/FAREIRA SKILLS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,1.0,Transformation,"151 WEST LUZERNE ST\nPHILADELPHIA, PA 19140\n(..."
646,STETSON JOHN B MS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,888708.0,Restart,"3200 B ST\nPHILADELPHIA, PA 19134\n(39.9981, -..."
648,DAROFF SAMUEL SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,658247.0,Restart,"5630 VINE ST\nPHILADELPHIA, PA 19139\n(39.9657..."
649,BLUFORD GUION EL SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,907129.0,Restart,"5801 MEDIA ST\nPHILADELPHIA, PA 19131\n(39.974..."
651,CLYMER GEORGE SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,392068.0,Transformation,"1201 WEST RUSH ST\nPHILADELPHIA, PA 19133\n(39..."
652,MANN WILLIAM B SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,794021.0,Restart,"5376 WEST BERKS ST\nPHILADELPHIA, PA 19131\n(3..."
655,GRATZ SIMON HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,508486.0,Transformation,"1798 WEST HUNTING PARK AVE\nPHILADELPHIA, PA 1..."
658,LINCOLN HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,14.0,Transformation,"3201 RYAN AVE\nPHILADELPHIA, PA 19136\n(40.040..."

Step 8:  Calculate the number of schools in the Philadelphia City SD and min, max, mean and standard deviation of the funding.

In [9]:
school_data[philly].describe()

              Amount
count      27.000000
mean   555936.518519
std    288151.681054
min         1.000000
25%    336026.500000
50%    579958.000000
75%    793011.000000
max    980283.000000

There are 27 schools that received funding.  The minimum amount was 1.  The maximum amount was 980,283.  The mean amount was 555,936.52.  The standard deviation was 288,151.68.  Since I used only pandas functions, the standard deviation that pandas calculates is sample standard deviation.